*{
    box-sizing: border-box;
}

article {
    width: 100%;
}

.video__Titulo {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.video__Nosotros {
    display: flex;
    justify-content: center;
    margin: 0px 50px 30px 100px;
}

.video__Nosotros p {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 60px;
}